<main>
  <h1>Books</h1>

  <table>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th></th>
      <th></th>
    </tr>
    <% @books.each do |book| %>      
    <tr>
       <%= book.title %>
    </tr>
    <tr>
      <%= book.body %>
    </tr>
    <tr>
      <%= link_to "Show", book_path(@book.id) %>
    </tr>
    <tr>
      <%= link_to "Edit", edit_book_path(@book.id) %>
    </tr>
    <tr>
      <%= link_to "Destroy", book_path(@book.id), method: :delete,"date-confirm" => "Aer you sure?" %>
    </tr>
    <% end %>
    </table>

</main>