<main>
  <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
  <% end %>
  <p><strong>Title:</strong>&nbsp;<%= @book.title %></p>
  <p><strong>Body:</strong>&nbsp;<%= @book.body %></p>

  <%= link_to "Edit", edit_book_path(@book.id) %>
  <span>|</span>
  <%= link_to "Back", books_path %>


</main>